extends layout

block content
    h1 Non smoking bars list
    h2 Number of bars: #{bars.length}
    ul
      each bar, index in bars 
        p #{index + 1}. <b>Name</b>: #{bar.name}. <b>Address</b>: #{bar.address}

